img{
  width: 300px;
  border-radius: 10%;
  filter: drop-shadow(0 0 0.75rem crimson);
}

.containerx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-product{
  border: 2px solid black;
  padding: 40px;
  margin: 50px;
  background-color: orange;
  width: 500px;
  /* height: 400px; */
  max-height: 500px;
  overflow: hidden;
}
